[buildout]
extends =
    local.cfg
    secret.cfg
    floating_versions_project.cfg
    pinned_versions_project.cfg

# The project name, base for paths
site = typicon

languages = en

eggs +=
    Plone
    Pillow
    iw.fss
    Products.ATExtensions
    plone.typicon

testeggs =

auto-checkout =
    plone.typicon
    iw.fss

zcml +=

parts +=
    fss

[fss]
recipe = iw.recipe.fss
storages =
# The first is always generic
    global / directory ${buildout:vardir}/fss_storage_global ${buildout:vardir}/fss_backup_global
# Others are always specific
    typicon /typicon site2 ${buildout:vardir}/typicon/fss_storage_main ${buildout:vardir}/typicon/fss_backup_main

[sources]
plone.typicon = fs plone.typicon full-path=${buildout:directory}/src/plone.typicon
iw.fss = git https://github.com/collective/iw.fss.git pushurl=https://github.com/collective/iw.fss.git
